<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true" scanPeriod="20 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %date %logger{35}: %msg%n</pattern>
  		</encoder>
	</appender>

	<!--Daily rolling file appender -->
	<appender name="geoplagasLogAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/opt/tomcat/logs/geoplagas.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%-5level %date %logger{35}: %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="DATOS_CRUZADOS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/opt/tomcat/logs/datosCruzados.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>datosCruzados.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-5level %date %logger{13}: %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FREEMARKER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/opt/tomcat/logs/freemarker.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>freemarker.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-5level %date %logger{13}: %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="LOGINS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/opt/tomcat/logs/logins.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logins.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-5level %date %logger{13}: %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="MAIL" class="ch.qos.logback.core.rolling.RollingFileAppender">
 		<file>/opt/tomcat/logs/mailLog.log</file>
 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <!-- daily rollover -->
	      <fileNamePattern>/opt/tomcat/logs/mailLog.%d{yyyy-MM-dd}.log</fileNamePattern>
	      <!-- keep 30 days' worth of history -->
	      <maxHistory>30</maxHistory>
	    </rollingPolicy>
	    <encoder>
	      <pattern>%-5level %date %logger{35}: %msg%n</pattern>
	    </encoder>
  	</appender>

	<logger name="com.geoplagas">
		<level value="TRACE" />
	</logger>
	<logger name="org.dbunit.database.statement.PreparedStatementFactory">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.cache">
		<level value="INFO" />
	</logger>
<!-- 	<logger name="org.springframework"> -->
<!-- 		<level value="INFO" /> -->
<!-- 	</logger> -->
	<logger name="org.springframework.transaction">
		<level value="INFO" />
	</logger>

	<logger name="org.hibernate.SQL">
		<level value="INFO" />
	</logger>
	<logger name="org.hibernate.type">
		<level value="INFO" />
	</logger>
	<logger name="com.zaxxer">
		<level value="INFO" />
	</logger>
	<logger name="datosCruzados">
		<level value="TRACE" />
		<appender-ref ref="DATOS_CRUZADOS" />
	</logger>
	<logger name="freemarker">
		<level value="INFO" />
		<appender-ref ref="FREEMARKER" />
	</logger>
	<logger name="mailLogger">
 		<level value="TRACE"/>
 		<appender-ref ref="MAIL" />
 	</logger>		
	<logger name="logins">
 		<level value="TRACE"/>
 		<appender-ref ref="LOGINS" />
 	</logger>		
<!-- 	<logger name="org.springframework.security"> -->
<!-- 		<level value="INFO" /> -->
<!-- 	</logger> -->

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
<!-- 		<appender-ref ref="geoplagasLogAppender" /> -->
	</root>
</configuration>